//
{
  "presets": [
    ["es2015", {"modules": false}], "react", "stage-0"],
    "plugins": [
      ["import", { "libraryName": "antd", "style": true   /* or 'css' */}],
      ["react-hot-loader/babel"],
      ["transform-decorators-legacy"]
      // ,["transform-runtime"]
    ]
  // ,"env": {
  //   "development": {
  //     "presets": ["react-hmre"]
  //   }
  // }
}